body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  section {
    background-color: #97ac98;
    color: rgb(28, 7, 56);
    text-align: center;
    padding: 80px 20px;
  }
  
  section h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  section p {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  table {
    margin-left: 15cm;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  
    nav a {
      margin-bottom: 10px;
    }
  }
  