/* Sidebar */
aside {
    width: 20%;
    background: #222;
    padding: 20px;
    height: 100vh;
    color: white;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    padding: 10px;
}

aside ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

aside ul li:hover {
    background: #444;
}
